/*
* @Author: Administrator
* @Date:   2017-11-26 20:02:54
* @Last Modified by:   Administrator
* @Last Modified time: 2017-12-01 21:31:59
*/
body,.mui-content{
	background-color: #f0eff3;
}
.mui-bar-nav~.mui-content{
	padding-top: 60px;
}
.mui-btn-block {
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-top: 40px;
}
.upadr input{
	font-size: 16px;
}
.mui-icon-eye:before {
    content: '';
}
.upadr .up-pwd{
	position: relative;
}
.upadr .up-eye{
	position: absolute;
	/* top: 50%; */
	top:15px;	
	right: 15px;
}
.upadr .signin a{
	display: block;
	margin-right: 15px;
	color: #0c7afe;
}
.upadr .up-identify .identify{
	width: 67%;
}
.upadr .up-identify .btn-vcode{
	background-color: #0c7afe;
	padding: 10px 15px;
	    margin-top: 1px;
	    font-size: 14px;
	    color: #fff;
}
.mui-input-row .mui-btn {
    line-height: 1.1;
    float: right;
    width: 30%;
    padding: 10px 15px;
}